// TODO: Finish adding dynamic email info
doctype html
html(lang='en')
    head
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1.0'
        )
        meta(
            http-equiv='Content-Type'
            content='text/html; charset=utf-8'
        )
        title Lodging Receipt
        style.
            .space-right {
                padding-right: 50px;
            }
    body
        h1 Lodging Receipt
        h4 Thank you for staying with us!
        table
            tr
                td.space-right Invoice ID:
                td 12341234Example12341234
            tr
                td.space-right Check In:
                td August 20, 2020
            tr
                td.space-right Check Out:
                td August 22, 2020
            // add all invoice charges and payments
            tr
                td.space-right Amount Paid:
                td $100.00
        h3 We look forward to seeing you again!
